node_modules
.git
.gitignore
.github

# env files
.env
.env.*
!.env.example

# build artifacts
dist
out
*.tgz
*.tsbuildinfo
.189d83fffdd9bcff-00000000.bun-build
router
.next
.open-next

# IDE / OS
.idea
.DS_Store
.vscode

# misc
.sisyphus
coverage
*.lcov
*.log
README.md
AGENTS.md
