services:
  vault:
    image: hashicorp/vault:latest
    container_name: vault
    cap_add:
      - IPC_LOCK
    ports:
      - "8200:8200"
      - "8201:8201"
    volumes:
      - ./docker_vault.hcl:/vault/vault.hcl:ro
    command: vault server -config=/vault/vault.hcl
    # restart: unless-stopped
    environment:
      VAULT_ADDR: http://127.0.0.1:8200
      VAULT_PG_CONNECTION_URL: ${VAULT_PG_CONNECTION_URL}
